.box {
  width: 100%;
  height: 100%;
  background-color: #0038c938;
  /* Fallback background color for unsupported browsers */
  display: flex;
  justify-content: space-around;
  /* Semi-transparent background color for modern browsers */
}

/* Apply backdrop filter for browsers that support it */
@supports (-webkit-backdrop-filter: blur(200px) brightness(100%)) or (backdrop-filter: blur(200px) brightness(100%)) {
  .box {
    -webkit-backdrop-filter: blur(200px) brightness(100%);
    backdrop-filter: blur(200px) brightness(100%);
    background-color: #0038c938;
    /* Fallback background color for browsers that partially support backdrop-filter */
  }
}

.label {
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 100vh;


}


.text-wrapper {
  color: #000000;
  font-family: "Mukta-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10vh;
  width: 183px;
}

.email {
  color: #000000;
  font-family: "Mukta-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  left: 22vw;
  top: 20vh;
  width: 25vw;
}

.button {
  background-color: #000000;
  border: 1.5px solid;
  border-radius: 5px;
  height: 92px;
  position: absolute;
  top: 40vh;
  width: 25vw;
  color: #ffffff;
  font-family: "Mukta-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  left: 22vw;
}

.signUp {
  display: flex;
  top: 55vh;
  position: absolute;
  justify-content: space-around;
  width: 25vw;
  left: 22vw;
}

.line {
  border: 1px solid #747070;
  width: 6vw;
  margin-top: 2%;
}

.sign {
  color: #747070;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  position: absolute;
}

.images {
  display: flex;
  justify-content: space-between;
  /* Added spacing between images */
  padding: 1%;
  height: 14vh;
  position: absolute;
  top: 60vh;
  width: 32vw;
  left: 19vw;
}

.images img {
  margin-right: 19px;
  border-radius: 10px;
  cursor: pointer;

}

.images::hover {
  color: #000000;
}

.girlimage {
  width: 30vw;
  height: 100vh;
}

.girlimage img {
  height: 784px;
  object-fit: cover;
  position: absolute;
  top: 10vh;
  width: 381px back
}
.new{
 align-items: end;}