.all {
    background-color: #D9D9D9;
    margin: 0;
    margin-left: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.imgg {
    height: 20px;
}

.nun {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 30px;
    height: 10vh;
}

.blue {
    background: linear-gradient(to left, #897C7C, #616C86);
    align-items: center;
    justify-content: center;
    width: 140px;
    font-size: 50px;
    font-family: "Jacques Francois";
    letter-spacing: 2.5px;
    border-radius: 3px;

}

.sin {
    float: left;
}

.new {
    display: flex;
    justify-content: center;
}

.nun2 {
    background-color: #0038c938;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.girl2 img {
    height: 80vh;
    left: vw;
    width: 50vw;
    position: absolute;
}

.context {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.welcome-to {
    color: #000000;
    font-family: "Jacques Francois-Regular";
    font-size: 80px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    width: 443px;

}