.all {
    background-color: #d9d9d9;
    margin: 0;
    margin-left: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.imgg {
    height: 20px;
}

.nun {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 30px;
    height: 10vh;
}

.blue {
    background: linear-gradient(to left, #897C7C, #616C86);
    align-items: center;
    justify-content: center;
    width: 140px;
    font-size: 50px;
    font-family: "Jacques Francois";
    letter-spacing: 2.5px;
    border-radius: 3px;

}

.sin {
    float: left;
}

.new {
    display: flex;
    justify-content: center;
}

.nun2 {
    background: rgba(0, 56, 201, 0.22);
    backdrop-filter: blur(100px);
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.circle-container {
    position: relative;
    /* background-color: black ; */
}

.circle {
    height: 36vh;
    left: 20vw;
    top: 13vw;
    z-index: -33;
    width: 36vh;
    border: 0px solid #616c86;
    border-radius: 100%;
    position: relative;
}

.girl {
    height: 80vh;
    z-index: 1000;
    background-color: transparent;
    width: 60vw;
    position: absolute;
}

.text {
    width: 40vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

.welcome-to {

    color: #000000;
    font-family: "Jacques Francois";
    font-size: 80px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    width: 443px;
}

.new2 {
    color: #000000;
    font-family: "Jacques Francois";
    font-size: 100px;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    right: 8vw;
    height: 7vh;
    top: 52vh;
    display: flex;
    justify-content: center;



}